:root {
  /* Value */
  /* colors */
  --accent-100: #fee6d6;
  --accent-200: #fcc8ac;
  --accent-300: #faa177;
  --accent-400: #f76835;
  --accent-50: #fff4ed;
  --accent-500: #f54b1a;
  --accent-600: #e63110;
  --accent-700: #bf210f;
  --accent-800: #971d15;
  --accent-900: #7a1b14;
  --accent-950: #420a08;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-50: #eff6ff;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-50: #f0fdf4;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;
  --grey-0: #ffffff;
  --grey-100: #e6e5e5;
  --grey-150: #dad8d8;
  --grey-200: #cdcbcb;
  --grey-250: #b5b2b0;
  --grey-300: #9c9896;
  --grey-350: #837e7c;
  --grey-400: #696563;
  --grey-50: #f3f2f2;
  --grey-500: #4f4c4a;
  --grey-600: #343232;
  --grey-700: #272625;
  --grey-800: #1a1919;
  --grey-900: #0d0d0c;
  --grey-950: #000000;
  --neutral-0: #ffffff;
  --neutral-100: #f5f5f5;
  --neutral-200: #ebebeb;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-50: #fafafa;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --red-100: #fce4e4;
  --red-200: #facece;
  --red-300: #f6abab;
  --red-400: #ee7b7b;
  --red-50: #fdf3f3;
  --red-500: #e03e3e;
  --red-600: #cf3333;
  --red-700: #ae2727;
  --red-800: #902424;
  --red-900: #782424;
  --red-950: #410e0e;
  --yellow-100: #fffcc1;
  --yellow-200: #fff686;
  --yellow-300: #ffe841;
  --yellow-400: #ffd60d;
  --yellow-50: #fffee7;
  --yellow-500: #f0bb00;
  --yellow-600: #d19100;
  --yellow-700: #a66702;
  --yellow-800: #89500a;
  --yellow-900: #74410f;
  --yellow-950: #442104;
}
